In [7]:
a=10
if a==10:
    print("Hello!")

Hello!

In [9]:
a=10
if a>5:
    pass

In [11]:
a=10
if a<8:
    print("print this condition is true")

In [15]:
a=11
if a!=11:
    print("condition false")
else:
    print("print this")

print this

In [16]:
a =10
if a ==12:
    print("comarision between 10 and 12")
elif a==11:
    print("comparision between 10 and 11")
else:
    print("print this")

print this

In [25]:
price =500
if price >500:
    print("I won't be able to buy a jacket")
elif price<=500:
    print("I will be able to buy a jacket")
else:
    print("I don't know ")

I will be able to buy a jacket

In [26]:
l=[1,2,3,4,5]
2 in l

True

In [27]:
if 2 in l:
    print("perform task")
else:
    print("NA")

perform task

In [28]:
l

[1, 2, 3, 4, 5]

In [30]:
if 1 in l:
    print("do addition")
elif 2 in l:
    print("perform substraction")
elif 3 in l:
    print("perform multiplication")
if 4 in l:
    print("perform division")

do addition
perform division

In [31]:
a=400

In [32]:
b=input("Enter number: ")

Enter number: 4

In [4]:
marks=int(input())
if marks<600:
    print("No GRE")
    if marks<500:
        print("Tofel")
        if marks<400:
            print("try something else")
    else:
        print("You got something TOFEL")
else:
    print("Congrats!You got GRE")

300
No GRE
Tofel
try something else

In [7]:
val = float(input("Enter Number: "))
if val>=0:
    if val==0:
        print("entered value is zero")
    else:
        print("entered value is positive")
else:
    print("Enterd number is negative")

Enter Number: -8
Enterd number is negative

In [11]:
a=10
if a<10 or a==10:
    print("try to do something")

try to do something

In [16]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print("lets do something")

lets do something

In [17]:
d={'key1':'value','key2':'sudh','key3':'iNueron'}

In [20]:
if d['key1']=='value' and d['key2']=='Sudh' and d['key3']=='iNueron':
    print("all values are true")
    print(d.values())
else:
    print("all values are not varified")

all values are not varified

In [21]:
l=[1,2,3,4,5,'sudh',23.5]
l[0]

1

In [22]:
for i in l:
    print(i)

1
2
3
4
5
sudh
23.5

In [23]:
l

[1, 2, 3, 4, 5, 'sudh', 23.5]

In [35]:

for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
sudh1
24.5

In [33]:
l1 =[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [34]:
l1

[1, 2, 3, 4, 5]