# FOR LOOP

In [2]:
#range():generating sequence of number 1,2,3,4,5
for i in range(5): #rannge(stop)
    print(i)

0
1
2
3
4

In [5]:
for i in range(1,5): #range(start,stop)
    print(i)

1
2
3
4

In [10]:
for i in range(2,22,2): #using range(start,stop,step)
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
#let have for loop on list
flist = ["apple","banana","grapes"]
for fruit in flist:
    print(fruit)

apple
banana
grapes

In [12]:
country = ["Ind", "UK","USA","Germany"]
for ct in country:
    print(ct)

Ind
UK
USA
Germany

In [13]:
country = ["Ind", "UK","USA","Germany"]
for index in range(len(country)):
    print(country[index])

Ind
UK
USA
Germany

In [15]:
# *
# * *
# * * *
# * * * *
# * * * * *
# Nested for loop
#i for outer loop
#j for inner loop
#end = " " to have space b/w
rows = 5
for i in range(rows):
    for j in range(i+1):
        print("*", end=" ")
    print() # for new line

*
* *
* * *
* * * *
* * * * *