In [1]:
l=[1,2,3,4,"p","k",4.5]

In [2]:
for i in l:
    print(i)

1
2
3
4
p
k
4.5

In [4]:
for i in l:
    pass

In [5]:
s = 'Prachi'
for i in s:
    print(i)

P
r
a
c
h
i

In [6]:
for i in l:
    print(i)
else:
    print("for loop completed now we can execute else")

1
2
3
4
p
k
4.5
for loop completed now w can execute else

In [7]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("for loop completed now we can execute else")

1
2
3

In [8]:
n='prachi'
for i in n:
    if i == 'c':
        break
    print(i)

p
r
a

In [10]:
t = (3,4,5,6,8,'prachi')

In [11]:
for i in t:
    print(i)

3
4
5
6
8
prachi

In [13]:
s ={6,2,4,5,7,3,6,'p'}

In [14]:
for i in s:
    print(i)

2
3
4
5
6
7
p

In [15]:
d = {'key1':'p','key2':'r','key3':'a'}

In [16]:
for i in d:
    print(i)

key1
key2
key3

In [17]:
for i in d:
    print(d[i])

p
r
a

In [19]:
for i in d:
    print(i , ' : ' ,d[i])

key1  :  p
key2  :  r
key3  :  a

In [21]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [24]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [25]:
list(range(0,9,-1))

[]

In [26]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print('prachi', end=' ')
    print("\n")

prachi

prachi prachi

prachi prachi prachi

prachi prachi prachi prachi

In [46]:
n=4
k=n

for i in range(n):
    k=k-1
    print('   '*k,end =' ')
    for j in range(i+1):
        print('prachi',end=' ')
    print("\n")

          prachi

       prachi prachi

    prachi prachi prachi

 prachi prachi prachi prachi

In [45]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('prachi'),end=' ')
    for j in range(i+1):
        print('prachi',end=' ')
    for j in range(i):
        print("prachi",end=" ")
    print("\n")

              prachi

       prachi prachi prachi

prachi prachi prachi prachi prachi

In [47]:
t=(3,23,45,67,2,4,5,6)

In [52]:
for i in range(len(t)):
    print(i,' : ',t[i])

0  :  3
1  :  23
2  :  45
3  :  67
4  :  2
5  :  4
6  :  5
7  :  6

In [68]:
s='ineuron'
for i in range(len(s)):
    print(i ,':',s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [70]:
s='ineuron'
for i in range(len(s)-1,-1,-1):
    print(i ,':',s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [71]:
d

{'key1': 'p', 'key2': 'r', 'key3': 'a'}

In [74]:
for i in d.items():
    print(i, type(i),type(i[1]))

('key1', 'p') <class 'tuple'> <class 'str'>
('key2', 'r') <class 'tuple'> <class 'str'>
('key3', 'a') <class 'tuple'> <class 'str'>

In [75]:
l= ['prachi','kabra',3234,'prchik.ai',345,345678]

In [81]:
l1 =[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [79]:
l1

[3234, 345, 345678]

In [84]:
d={1:4555,"name":"prachi","email":"pk123",234:"yhhh"}

In [89]:
d1={}
for i in d:
    if type(i)==int:
        print(i,':',d[i])

1 : 4555
234 : yhhh

In [97]:
x='aaaahhhttttjjjjd'
for i in set(x):
    print(i,":",x.count(i))

j : 4
t : 4
a : 4
h : 3
d : 1

In [98]:
x1='rrfhjfsfhgbsbjjsjnsg'
for i in set(x1):
    print(i ,':',x1.count(i))

j : 4
f : 3
g : 2
n : 1
s : 4
b : 2
h : 2
r : 2

In [102]:
i=34567899000
for j in str(i):
    print(j,':',type(int(j)))

3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
6 : <class 'int'>
7 : <class 'int'>
8 : <class 'int'>
9 : <class 'int'>
9 : <class 'int'>
0 : <class 'int'>
0 : <class 'int'>
0 : <class 'int'>

In [7]:
t =('sudh','kumar',[1,2,3,4,5],(1,2,3,4),{'k2':'kumar',3:3})

In [8]:
for i in t:
        print(i)

sudh
kumar
[1, 2, 3, 4, 5]
(1, 2, 3, 4)
{'k2': 'kumar', 3: 3}

In [16]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j ==3:
                print(j )
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [17]:
d={4:5,'k1':'sudh','k2':'kumar'}

In [18]:
d.items()

dict_items([(4, 5), ('k1', 'sudh'), ('k2', 'kumar')])

In [19]:
for i ,j in d.items():
    print(i,':',j)

4 : 5
k1 : sudh
k2 : kumar

In [ ]:
Q1. print 
inueron
inueron inueron
inueron inueron inueron
inueron inueron inueron inueron

Q2. print
       inueron
    inueron  inueron
inueron   inueron    inueron
    inueron     inueron
           inueron
        
        
Q3.
l =[[1,2,3,4],(2,3,4,5,6),set([23,4,5,45,54,4,4,5,5]),{'k1':'sudh','k2':'inueron','k3':'kumar',5:6,7:8},['inueron','data science']]

1: 
2:
3: 
4:
6:

8; 

9: try to find number or keys in dict elements
10:try to filter all string data
11:try to find out alpha num in data
12:try to find out multiplication of all int value in the individual collection inside dataset
13: try to unrape all the collection inside collection and create a flat list

In [215]:
for i in l:
    if isinstance(i, (list, tuple, set)):
        mul = 1
        for j in i:
            if isinstance(j, int):
                mul *= j
        print(i, mul)

[1, 2, 3, 4] 24
(2, 3, 4, 5, 6) 720
{4, 5, 45, 54, 23} 1117800
['inueron', 'data science'] 1

In [207]:
#try to find out multiplication of all int value in the individual collection inside dataset
mul=1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                mul=mul*j
                print(mul)

1
2
6
24
48
144
576
2880
17280
69120
345600
15552000
839808000
19315584000

In [188]:
#try to find out alpha num in data
for i in l3:
    if type(i)==str or type(i)==int:
        print(i)

1
2
3
4
2
3
4
5
6
4
5
45
54
23
k1
sudh
k2
inueron
k3
kumar
5
6
7
8

In [180]:
#try to filter all string data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                print(k)
                print(v)

k1
sudh
k2
inueron
k3
kumar
inueron
data science

In [176]:
# try to find number or keys in dict elements
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            print(k)

k1
k2
k3
5
7

In [24]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print('inueron',end=' ')
    print('\n')

inueron

inueron inueron

inueron inueron inueron

inueron inueron inueron inueron

In [27]:
n=5
for i in range(0,i+1):
    for j in range(0,i+1):
        print('inueron',end=' ')
    print('\n')

inueron

inueron inueron

inueron inueron inueron

inueron inueron inueron inueron

In [112]:
n=3
for i in range(n):
    print('   '*(n-i-1)+'inueron '*(i+1))
    
for j in range(n-1,0,-1):
    print('    '*(n-j)+'inueron '*(j))

      inueron
   inueron inueron
inueron inueron inueron
    inueron inueron
        inueron

In [209]:
l =[[1,2,3,4],(2,3,4,5,6),set([23,4,5,45,54,4,4,5,5]),{'k1':'sudh','k2':'inueron','k3':'kumar',5:6,7:8},['inueron','data science']]

In [114]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 {4, 5, 23, 45, 54},
 {'k1': 'sudh', 'k2': 'inueron', 'k3': 'kumar', 5: 6, 7: 8},
 ['inueron', 'data science']]

In [122]:
#try to extract all the list entit
l2=[]
for i in l:
    if type(i)== list:
        l2.append(i)

In [123]:
l2

[[1, 2, 3, 4], ['inueron', 'data science']]

In [124]:
#try to extract all the dict
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'inueron', 'k3': 'kumar', 5: 6, 7: 8}

In [125]:
#try to extract all tuple
for i in l:
    if type(i)== tuple:
        print(i)

(2, 3, 4, 5, 6)

In [131]:
#try to extract int it may be a part of dict key and value
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==dict:
        for t,v in i.items():
            if type(t)==int or type(v)==int:
                print(t)
                print(v)

1
2
3
4
2
3
4
5
6
4
5
45
54
23
5
6
7
8

In [151]:
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
                l3.append(j)
    if type(i)==dict:
        for t,v in i.items():
            if type(t)==int or type(v)==int:
                print(t)
                print(v)
                l3.append(t)
                l3.append(v)

1
2
3
4
2
3
4
5
6
4
5
45
54
23
5
7

In [143]:
l3

[1, 2, 3, 4, 2, 3, 4, 5, 6, 4, 5, 45, 54, 23, 5, 6, 7, 8]

In [145]:
#try to give summation of all the int
sum=0
for i in l3:
    sum+=i
print(sum)

187

In [146]:
#try to filter out all the odd values out all numeric data which is a part of list
for i in l3:
    if i%2!=0:
        print(i)

1
3
3
5
5
45
23
5
7

In [157]:
#try to extract 'inueron' from this data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j == 'inueron':
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k=='inueron' :
                print(k)
                
            elif v=='inueron':
                print(v)

inueron
inueron

In [158]:
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
                l3.append(j)
    if type(i)==dict:
        for t,v in i.items():
                print(t)
                print(v)
                l3.append(t)
                l3.append(v)

1
2
3
4
2
3
4
5
6
4
5
45
54
23
k1
sudh
k2
inueron
k3
kumar
5
6
7
8

In [168]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set or type(i)== dict:
        for j in i:
                print(j,l.count(i))

1 1
2 1
3 1
4 1
2 1
3 1
4 1
5 1
6 1
4 1
5 1
45 1
54 1
23 1
k1 1
k2 1
k3 1
5 1
7 1
inueron 1
data science 1

In [208]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 {4, 5, 23, 45, 54},
 {'k1': 'sudh', 'k2': 'inueron', 'k3': 'kumar', 5: 6, 7: 8},
 ['inueron', 'data science']]

In [216]:
# try to find out the number of occurances of all data
for i in l:
    j = l.count(i)
    print(i, j)

[1, 2, 3, 4] 1
(2, 3, 4, 5, 6) 1
{4, 5, 45, 54, 23} 1
{'k1': 'sudh', 'k2': 'inueron', 'k3': 'kumar', 5: 6, 7: 8} 1
['inueron', 'data science'] 1

In [159]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 4,
 5,
 45,
 54,
 23,
 'k1',
 'sudh',
 'k2',
 'inueron',
 'k3',
 'kumar',
 5,
 6,
 7,
 8]

In [128]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end='   ')
    print("\n")

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

In [38]:
n=5
for i in range(n):
    for j in range(0,i+1):
        print('*',end='   ')
    print('\n')

*

*   *

*   *   *

*   *   *   *

*   *   *   *   *

In [43]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end = '   ')
    print('\n')

*   *   *   *   *

*   *   *   *

*   *   *

*   *

*

In [71]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i+1):
        print('*',end='')
    print('\n')

     *

    **

   ***

  ****

 *****

In [75]:
n=5
for i in range(n):
    for j in range(0,i+1):
        print("",end=' ')
    for j in range(i,n):
        print('*',end='')
    print('\n')

 *****

  ****

   ***

    **

     *

In [79]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print('\n')

     *

    ***

   *****

  *******

 *********

In [82]:
n=5
for i in range(n):
    for j in range(i+1):
        print('',end=' ')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print('\n')

 *********

  *******

   *****

    ***

     *

In [88]:
n=10
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print('\n')
for i in range(n):
    for j in range(i+1):
        print('',end=' ')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print('\n')

          *

         ***

        *****

       *******

      *********

     ***********

    *************

   ***************

  *****************

 *******************

  *****************

   ***************

    *************

     ***********

      *********

       *******

        *****

         ***

          *

In [218]:
from collections import Counter

l = [[1, 2, 3, 4], (2, 3, 4, 5, 6), set([23, 4, 5, 45, 54, 4, 4, 5, 5]), {'k1': 'sudh', 'k2': 'inueron', 'k3': 'kumar', 5: 6, 7: 8}, ['inueron', 'data science']]

element_counts = Counter()

for sublist in l:
    if isinstance(sublist, (list, tuple, set)):
        element_counts.update(sublist)
    elif isinstance(sublist, dict):
        element_counts.update(sublist.keys())

for element, count in element_counts.items():
    print(element, count)

1 1
2 2
3 2
4 3
5 3
6 1
45 1
54 1
23 1
k1 1
k2 1
k3 1
7 1
inueron 1
data science 1